clase_2/JWsClase2_2_4/xml-resources/web-service-references/persona1Service/wsdl/localhost_8085/persona1Service.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.jwsclase2_2_3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.jwsclase2_2_3/">

<xs:element name="getPersona" type="tns:getPersona"></xs:element>

<xs:element name="getPersonaResponse" type="tns:getPersonaResponse"></xs:element>

<xs:complexType name="getPersona">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonaResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>