JWClase1_1.6/src/META-INF/wsdl/localhost_8084/MiPrimerWebService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.pkg3.jwclase1_1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.pkg3.jwclase1_1/">

<xs:element name="operationSaludos" type="tns:operationSaludos"></xs:element>

<xs:element name="operationSaludosResponse" type="tns:operationSaludosResponse"></xs:element>

<xs:element name="saludos" type="tns:saludos"></xs:element>

<xs:element name="saludosResponse" type="tns:saludosResponse"></xs:element>

<xs:complexType name="operationSaludos">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operationSaludosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludos">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="saludosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>