clase_2/JWsClase2_2_2/xml-resources/web-service-references/ProductoService/wsdl/localhost_8181/ProductoService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.jwsclase2_2_1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.jwsclase2_2_1/">

<xs:element name="getProducto" type="tns:getProducto"></xs:element>

<xs:element name="getProductoResponse" type="tns:getProductoResponse"></xs:element>

<xs:complexType name="getProducto">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>