clase_3/JavaWSClase3_3_4/src/META-INF/wsdl/localhost_8089/productoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.javawsclase3_3_3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.javawsclase3_3_3/" name="ProductoServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.javawsclase3_3_3/" schemaLocation="http://localhost:8089/productoService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="guardarProducto">
<part name="parameters" element="tns:guardarProducto"></part>
</message>
<message name="guardarProductoResponse">
<part name="parameters" element="tns:guardarProductoResponse"></part>
</message>
<message name="ProductoException">
<part name="fault" element="tns:ProductoException"></part>
</message>
<message name="obtenerProductos">
<part name="parameters" element="tns:obtenerProductos"></part>
</message>
<message name="obtenerProductosResponse">
<part name="parameters" element="tns:obtenerProductosResponse"></part>
</message>
<portType name="ProductoService">
<operation name="guardarProducto">
<input wsam:Action="http://ws.javawsclase3_3_3/ProductoService/guardarProductoRequest" message="tns:guardarProducto"></input>
<output wsam:Action="http://ws.javawsclase3_3_3/ProductoService/guardarProductoResponse" message="tns:guardarProductoResponse"></output>
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://ws.javawsclase3_3_3/ProductoService/guardarProducto/Fault/ProductoException"></fault>
</operation>
<operation name="obtenerProductos">
<input wsam:Action="http://ws.javawsclase3_3_3/ProductoService/obtenerProductosRequest" message="tns:obtenerProductos"></input>
<output wsam:Action="http://ws.javawsclase3_3_3/ProductoService/obtenerProductosResponse" message="tns:obtenerProductosResponse"></output>
</operation>
</portType>
<binding name="ProductoServicePortBinding" type="tns:ProductoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="guardarProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ProductoServiceService">
<port name="ProductoServicePort" binding="tns:ProductoServicePortBinding">
<soap:address location="http://localhost:8089/productoService"></soap:address>
</port>
</service>
</definitions>